<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Portafolio.la</title>
	<!--link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,300,400' rel='stylesheet' type='text/css'-->
	<link rel="stylesheet" href="../static/css/normalize.css" />
	<link rel="stylesheet" href="../static/css/estilos.css" />
</head>
<body>
	<header id="yo" class="Header">
		<nav class="MainMenu">
			<ul class="MainMenu-list">
				<li class="MainMenu-item"><a class="MainMenu-link" href="#yo">Yo</a></li>
				<li class="MainMenu-item"><a class="MainMenu-link" href="#perfil">Perfil</a></li>
				<li class="MainMenu-item"><a class="MainMenu-link" href="#trabajo">Trabajo</a></li>
				<li class="MainMenu-item"><a class="MainMenu-link" href="#contacto">Contactos</a></li>
			</ul>
		</nav>
		<figure class="Header-imageContainer">
			<img src="../static/img/avatar.jpg" alt="Imagen Personal" class="Header-image"/>
			<figcaption class="Header-imageDescription">
				<a href="https://twitter.com/moisesdelacruz14" target="black" class="Header-link">@moisesdelacruz14</a>
			</figcaption>
			<p class="Header-name">Moises De La Cruz</p>
		</figure>
	</header>
	<section id="perfil" class="Profile">
		<h2 class="Profile-title u-title">My Perfil</h2>
		<p class="Profile-description">Hola! si llegaste hasta aqui puedes ver mi portafolio y contactarme</p>
		<a class="Profile-link" href="https://twitter.com/moisesdelacru14" target="black">@moisesdelacruz14</a>
		<a class="Profile-link" href="https://www.facebook.com/moisesjesus.delacruzriera" target="black">Moises Jesus De La Cruz Riera</a>
		<a class="Profile-link" href="https://github.com/moisesdelacruz14" target="black">moises1234</a>
	</section>
	<section id="trabajo" class="Work">
		<h2 class="Work-title u-title">My Trabajo</h2>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/img/thumb2.jpg" alt="Esta es la descriopcion de mi imagen"/>
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/img/thumb1.jpg" alt="Esta es la descriopcion de mi imagen"/>
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/img/thumb2.jpg" alt="Esta es la descriopcion de mi imagen"/>
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/img/thumb1.jpg" alt="Esta es la descriopcion de mi imagen"/>
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/img/thumb2.jpg" alt="Esta es la descriopcion de mi imagen"/>
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/img/thumb1.jpg" alt="Esta es la descriopcion de mi imagen"/>
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article>
	</section>
	<footer id="contacto" class="Footer">
		<div class="Footer-left">
			<h3 class="Footer-title">Contacto</h3>
			<p class="Footer-description">Si tienes sugerencia o quieres trabajar con migo ponte en contacto con este formulario</p>
		</div>
		<form class="Footer-form" action="">
			<input class="Footer-formInput" type="text" placeholder="Nombre"/>
			<input class="Footer-formInput" type="email" placeholder="Email"/>
			<textarea class="Footer-textarea" placeholder="Motivo"></textarea>
			<input type="submit" value="Contactarme" class="Footer-button">
		</form>
	</footer>
</body>
</html>